*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*-- header style-- */
header{
    background-color:#bd2a2a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: fixed;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
header ul li a:hover{
    color: gray;
    transition: 0.3s;
    font-size: 15px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo img{
    max-width: 8%;
    border-radius: 50%;
    margin-right: 10px;
}
.logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.logo h1{
    border: 1px solid;
    border-radius: 10px;
    padding: 3px;
}
/*-- main style --*/
section{
    height: 95vh;
}
.esports{
    background-color: #302f2f;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.futebol{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.basquete{
    background-color: #302f2f;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}